<form id="address-form" class="pure-form pure-form-stacked" method="POST" action="{{ data.form.post_action_url }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form_group">
        <div class="col-md-2">
            {{ data.form.prefix }}
        </div>
        <div class="col-md-5">
            {{ data.form.first_name(class="", type="text", placeholder="First Name") }}
        </div>
        <div class="col-md-5">
            {{ data.form.last_name(class="",type="text", placeholder="Last Name") }}
        </div>
    </div>
    <div class="form_group">
        <div class="col-md-9">
            {{ data.form.street_address(class="",type="text", placeholder="Address") }}
        </div>
        <div class="col-md-3">
            {{ data.form.street_address2(class="",type="text", placeholder="Apt/Suite") }}
        </div>
        <div class="col-sm-12">
            {{ data.form.zip5(class="",type="text", placeholder="Zipcode") }}
        </div>
    </div>
    <div class="form_group">
        <div class="col-sm-12">
            {{ data.form.phone_number(class="pure-u-24-24",type="text", placeholder="Phone Number") }}
         </div>
    </div>

    <br>

    <button type="submit" class="foo">Submit</button>
</form>