<form id="message-form" class="message_form" method="POST" action="{{ data.form.post_action_url }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    {% include 'partials/your_reps.html' %}

    {% if data.legs_buckets and data.legs_buckets.uncontactable %}
        {% include 'partials/uncontactable_reps.html' %}
    {% endif %}

    <div id="edit-message-wrapper">
        <fieldset>
            <h4 style="margin-top:50px; margin-bottom:25px;"><strong>Next, look over your email message</strong></h4>

            <div class="form_group clearfix">
                <div class="col-sm-12">
                    <input readonly id="subject" type="text" name="subject" value="{{ data.msg.subject }}">
                </div>
                <div class="col-sm-12">
                    <textarea readonly style="height:250px" id="msgbody" name="msgbody">{{ data.msg.msgbody }}</textarea>
                </div>
            </div>

            <div class="form_group clearfix">
                <div class="col-xs-12 col-sm-9 pull-right">
                    <button type="submit">Send this message now</button>
                </div>
                <div class="col-xs-12 col-sm-3 pull-left">
                    <button class="red-button">Don't send</button>
                </div>
            </div>

        </fieldset>
    </div>
</form>