<form id="message-form" class="form" method="POST" action="{{ data.form.post_action_url }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    {% include 'partials/your_reps.html' %}

    {% if data.legs_buckets and data.legs_buckets.uncontactable %}
        {% include 'partials/uncontactable_reps.html' %}
    {% endif %}

    <section id="form--readonly">
        <h3 class="content__header"><strong>Next, look over your email message</strong></h3>

        <div class="form__group">
            <div class="col-sm-12">
                <input class="form__input" readonly id="subject" type="text" name="subject" value="{{ data.msg.subject }}">
            </div>
        </div>
        <div class="form__group">
            <div class="col-sm-12">
                <textarea class="form__textarea" readonly id="msgbody" name="msgbody">{{ data.msg.msgbody }}</textarea>
            </div>
        </div>
    </section>

    <button class="button__primary" type="submit">Send this message now</button>
    <button class="button__secondary--red">Don't send</button>


</form>