<form id="address-form" class="pure-form" method="POST" action="{{ form.post_action_url }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="pure-form" style="text-align:center">

        {% if form.error_dict %}
            <ul class="errors">{% for name, error in form.error_dict.iteritems() %}<li>{{ name }} - {{ error }}</li>{% endfor %}</ul>
        {% endif %}

    <fieldset>

        <legend>Token Reset</legend>

            {{ form.email.label }}
            {{ form.email }}
            <button type="submit" class="pure-button pure-button-primary">Submit</button>

    </fieldset>

    </div>
</form>