<div id="district_with_reps">
    <h2>The address you've provided indicates that you're in the {{ context.umi.humanized_district() }}.</h2>
    <div id="district_map">
        {# TODO include map w/ district? a la http://ziplook.house.gov/htbin/findrep?ZIP=27948&Submit=FIND+YOUR+REP+BY+ZIP #}
    </div>
    <div id="your_reps_container">
        <h2>Here are your representatives in congress.</h2>
        <div id="your_reps">
            {% for leg in context.legislators %}
                {% with leg=leg %}
                 {% include 'snippets/legislator_card.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    <div id="uncontactable_reps">
        Unfortunately, due to our <a href="/terms_of_service">terms of service</a>, we are unable to send your message to
        {% with leng = context.uncontactable.__len__() %}
            {% if leng < 5 %}
                {% for email in context.uncontactable %}
                    {{ email }}{% if not loop.last %},{% endif %}
                {% endfor %}
            {% else %}
                {% for email in context.uncontactable[0:4]%}
                    {{ email }},
                {% endfor %}
                and {{ leng - 4 }} others.
            {% endif %}
        {% endwith %}
    </div>
</div>