<div id="explainer">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis tincidunt erat,
        nec volutpat mi tincidunt id. Maecenas aliquam dolor vel vehicula rhoncus. Donec congue enim mauris,
        ut cursus enim semper vitae. Phasellus cursus nibh sodales ultrices ullamcorper.
        Etiam scelerisque velit vitae nisi vulputate facilisis. In hac habitasse platea dictumst.
        Praesent sed suscipit arcu. Fusce ut ultricies urna. Nam sit amet pulvinar tortor.
        Phasellus sed turpis ac lacus posuere egestas. Phasellus aliquet eros tincidunt magna bibendum imperdiet.
    </p>

    <ul>
        <li>We are not the government.</li>
        <li>Point two.</li>
        <li>Point three.</li>
    </ul>
</div>