<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Default Title{% endblock %}</title>
    </head>
    <body>
        {% block body %}

        {% endblock %}
        <hr>
        {% block footer %}
            <footer>
            Terms & Service ... If your address has changed then <a href="{{ context.user.address_change_link() }}">click here</a>.
            {# TODO footer text goes here... #}
            </footer>
        {% endblock %}
    </body>
</html>