{% extends 'emails/root.html' %}

{% block content %}

    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top">
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td class="wrapper" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; position: relative; text-align: left; vertical-align: top" align="left" valign="top">

          </td></tr>
            <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
            <td style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top" align="left" valign="top">
            <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">We were unsuccessful because there appears to be an issue with the congressional contact system for the following.</p>

                <ul>
                    {% for msg_leg in context.send_statuses[False] %}
                    <li>{{ msg_leg.legislator.full_title_and_full_name() }} - <a href="{{ msg_leg.legislator.contact_form }}">{{ msg_leg.legislator.contact_form }}</a></li>
                    {% endfor %}
                </ul>

               <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">Sorry about that! Our technical team has been notified about the issue and for now you can send your message through their congressional website webforms. Their links are above.</p>

               <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">Thanks for using OpenCongress to contact Congress!</p>
                <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left">
                </p>

                <p style="color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 18px 27px; padding: 0; text-align: left" align="left"><i>Sunlight Foundation</i></p>

            </td>
            <td class="expander" style="border-collapse: collapse !important; color: #333333; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px" align="left" valign="top"></td>
        </tr>
    </table>

{% endblock %}