{% extends 'root.html' %}

{% block title %}
    Phantom Mask Admin Panel
{% endblock %}

{% block header %}
    <h1 class="center-text">You can manage users and their emails below.</h1>
{% endblock %}

{% block content %}

    <div id="nav">
        <a>Users</a>
        <a>Messages</a>
        <a>Legislators</a>
        <a>Topics</a>
    </div>

    <form class="pure-form" method="GET">
        <fieldset>
            <input name='q' type="search" placeholder="Search">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>


    {% include 'partials/admin_user_table.html' %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascript %}

{% endblock %}