{% extends 'root.html' %}

{% block title %}
    Verify your contact information to send your e-mail.
{% endblock %}

{% block content %}

    <section class="section">
    {% if context.msg %}
        {% include 'images/icon_check.svg' %}
        <h2 class="section__heading">Great, you're signed up! Now review before you send.</h2>
        <p class="section__description">
            For your first time, please review your message and message recipients
            below before we send it off.
        </p>
    {% elif context.view_legs %}
        {% include 'images/icon_check.svg' %}
        <h2 class="section__heading">Welcome back!</h2>
        <p class="section__description">
            You may message your representatives in Congress via email.
        </p>
    {% else %}
        {% include 'images/icon_check.svg' %}
        <h2 class="section__heading">Great, we updated your information!</h2>
        <p class="section__description">
            You may now continue to message your representatives in Congress via email.
        </p>
    {% endif %}
    </section>

    <section class="content">
        <h3 class="content__header">
        {% if context.msg %}
            <p>
                <strong>Choose the representatives</strong> from your congressional district in {{ context.umi.humanized_state() }} that you want to send your email to.
            </p>
            {% if context.legs_buckets and context.legs_buckets.does_not_represent %}
            <p class="form__error--clickable form__tip" href="#" data-toggle="modal" data-target="#modal">
                Why {% if context.legs_buckets.does_not_represent.__len__() > 1 %}aren't{% else %}isn't{% endif %} {% with %}{% set legislators = context.legs_buckets.does_not_represent %}{% include 'snippets/leg_full_title_and_full_name_loop.html' %}{% endwith %} listed here?
            </p>
            {% endif %}
            {% if context.legs_buckets and context.legs_buckets.non_existent %}
            <p class="form__error--clickable" href="#" data-toggle="modal" data-target="#modal">
                Our system could not recognize the email addresses for {% with %}{% set iterable = context.legs_buckets.non_existent %}{% include 'snippets/comma_list.html' %}{% endwith %}.
            </p>
            {% endif %}

        {% else %}
            <p>
                <strong>What's next?</strong> You can use <a href="mailto:myreps@opencongress.org">myreps@opencongress.org</a> to write to all of your representatives at once. Or send individual emails:
            </p>
        {% endif %}
        </h3>

        {% if context.msg %}
            {% with data=context %}
                {% include 'forms/message_form.html' %}
            {% endwith %}
        {% else %}
            {% include 'partials/your_reps.html' %}
        {% endif %}


        {% if context.msg %}
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-u-vcenter">
                <div class="modal-dialog" role="document">
                    <div class="modal__content">
                        <div class="modal__body">
                            {% include 'images/icon_question.svg' %}
                            <h3 class="content__header"><strong>You can only email your own representatives</strong></h3>
                            <p>Due to restrictions imposed by Congress, you can only send a message through this system to the members of Congress who represent the address you provided us.</p>
                            <p>Feel free to ask the members who represent you to forward your message to other members you’d like to contact.</p>
                        </div>
                    <div class="modal__footer">
                    <button type="button" class="button__secondary" data-dismiss="modal">Got it, close this.</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </section>
    {% endif %}

{% endblock %}