{% extends 'root.html' %}

{% block title %}
qweqwe
{% endblock %}

{% block header %}
    <h1 class="center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
{% endblock %}

{% block content %}
    {% with humanized_district=context.humanized_district %}
        {% include 'partials/district_with_map.html' %}
    {% endwith %}
    {% include 'partials/your_reps.html' %}
{% endblock %}

{% block footer %}
    <h1 class="center-text">Footer lorem ipsum dolor sit amet.</h1>
{% endblock %}

{% block javascript %}
    {% with geojson_url=context.geojson_url %}
        {% include 'snippets/map_javascript.html' %}
    {% endwith %}
{% endblock %}