{% extends 'root.html' %}

{% block title %}
    Email Congress
{% endblock %}

{% block brandingbar %} {% endblock %}
{% block header %} {% endblock %}

{% block main %}
    <main>

        <section class="header--hero">
        <div class="branding-bar" data-bb-brandingbar="true" data-bb-property-id="sunlightlabs-awesome"></div>

            <h1 class="">{% include 'images/emailcongress-logo.svg' %}</h1>
            <h2>Contacting Congress is now as easy as email.</h2>
            <a href="{{ context.signup_link }}"><button class="button__hero">Get Started</button></a>
        </section>

        <section class="section--light" id="returninguser">
            <div class="content_wrapper">
                {% include 'images/icon_user.svg' %}
                <h2 class="section__heading--large">Returning to Email Congress?</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <button id="update_address" class="button__secondary" data-js="toggle-email-form">I moved&mdash;update my information</button>
                    </div>
                    <div class="col-sm-6">
                        <button id="remind_reps" class="button__secondary" data-js="toggle-email-form">Remind me who my reps are</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="section--dark email-form-wrapper" style="display: none;">
            <div class="content_wrapper">
            {% with form=context.email_form %}
                {% include 'forms/email_form.html' %}
            {% endwith %}
            </div>
        </section>

        <section class="section">
            <div class="content_wrapper">
                <h2 class="section__heading--large">How does it work?</h2>

                <div class="row steps-group">
                    <div class="col-xs-3">
                        <img class="illustration" src="/static/images/illustration_form.png">
                    </div>
                    <div class="col-xs-9">
                        <div class="prose">
                            <p>
                                <strong>Find your reps</strong>
                                <br>
                                We match you with your representatives when you sign up and provide your address.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row steps-group">
                    <div class="col-xs-3">
                        <img class="illustration" src="/static/images/illustration_flag.png">
                    </div>
                    <div class="col-xs-9">
                        <div class="prose">
                            <p>
                                <strong>Write to Congress</strong>
                                <br>
                                Once we’ve found your reps, you can send them a message directly through your email.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row steps-group">
                    <div class="col-xs-3">
                        <img class="illustration" src="/static/images/illustration_congress.png">
                    </div>
                    <div class="col-xs-9">
                        <div class="prose">
                            <p>
                                <strong>Whoosh!</strong>
                                <br>
                                We deliver your message to your reps using technology that navigates their complicated webforms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section--light">
            <div class="content_wrapper">
                {% include 'images/machine.svg' %}
                <h2 class="section__heading--large">Why we made this</h2>
                <div class="prose">
                    <p>It’s not easy to get in touch with members of Congress. You have to navigate different, complicated web forms each time you want to send a message to your representatives.</p>
                    <p>Now, with Email Congress you can use your own email to write to your reps. After you sign up, our technology does all the work, so all you have to do is send an email!</p>
                    <p>Remember we aren’t Congress, we just help you communicate with your representatives.</p>
                </div>
            </div>
        </section>

    </main>

{% endblock %}