{% extends 'root.html' %}

{% block title %}
    Email Congress
{% endblock %}

{% block content %}

    <section class="overview">
        {% include 'images/machine.svg' %}
        <h2 class="overview__heading">Contacting congress used to be hard, but now it's as easy as email.</h2>
        <p class="overview__description">
            <button class="button__primary" type="submit" style="float:none">
                <span class="button__text">Get started</span>
            </button>
        </p>

    </section>

    {% with data=context %}
        {% include 'forms/address_form.html' %}
    {% endwith %}

    <hr>

    <section class="overview">
        <h2 class="overview__heading">Already signed up?</h2>
        <p class="overview__description">
            <a style="float:left">Remind me who my reps are</a>
            <a style="float:right">update my reps and information</a>
        </p>
    </section>

    {% with form=context.chg_addr_form %}
        {% include 'forms/token_reset_form.html' %}
    {% endwith %}

    {% with form=context.legislator_lookup_form %}
        {% include 'forms/legislator_lookup_form.html' %}
    {% endwith %}


    <hr>

    <section class="overview">
        <h2 class="overview__heading">How it works</h2>
        <div>
            <h3 style="float:left; margin-right:25px">1.</h3>
            <p class="overview__description" style="text-align:left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit purus lorem, eu tristique orci scelerisque eu.
            </p>
        </div>
        <div>
            <h3 style="float:left; margin-right:25px">2.</h3>
            <p class="overview__description" style="text-align:left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit purus lorem, eu tristique orci scelerisque eu.
            </p>
        </div>
        <div>
            <h3 style="float:left; margin-right:25px"">3.</h3>
            <p class="overview__description" style="text-align:left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit purus lorem, eu tristique orci scelerisque eu.
            </p>
        </div>
    </section>

    <hr>

    <section class="overview">
        <h2 class="overview__heading">Why</h2>
        <p class="overview__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis fermentum lorem. Ut turpis mi, interdum a leo eu, interdum mollis lorem. Curabitur felis mi, dapibus et nibh vel, malesuada maximus felis. Nunc blandit a nibh sit amet tincidunt.
        </p>
         <p class="overview__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis fermentum lorem. Ut turpis mi, interdum a leo eu, interdum mollis lorem. Curabitur felis mi, dapibus et nibh vel, malesuada maximus felis. Nunc blandit a nibh sit amet tincidunt. Vivamus a aliquet mi, nec consequat enim. Proin risus orci, bibendum ac ligula et, porttitor ultricies ante. Praesent laoreet velit tortor, non faucibus augue tincidunt ut.
        </p>
    </section>

{% endblock %}