{% extends 'root.html' %}

{% block title %}
    Email Congress
{% endblock %}

{% block brandingbar %} {% endblock %}
{% block header %} {% endblock %}

{% block main %}
    <main>

        <section class="header--hero">
        <div class="branding-bar" data-bb-brandingbar="true" data-bb-property-id="sunlightlabs-awesome"></div>

            <h1 class="">{% include 'images/emailcongress-logo.svg' %}</h1>
            <h2>Contacting Congress is now as easy as email.</h2>
            <button class="button__hero">Get Started</button>
        </section>

        <section class="overview--light">
            {% include 'images/icon_user.svg' %}
            <h2 class="overview__heading">Returning to Email Congress?</h2>
            <div class="row">
                <div class="col-sm-6">
                    <button class="button__secondary">Remind me who my reps are</a>
                </div>
                <div class="col-sm-6">
                    <button class="button__primary">I moved&mdash;update my information</a>
                </div>
            </div>
            
        </section>

        <section class="overview">
            <h2 class="overview__heading">How does it work?</h2>
            <div>
                <p>
                    <strong>Find your reps</strong>
                    <br>
                    We match you with your representatives when you sign up and provide your address.
                </p>
            </div>
            <div>
                <p>
                    <strong>Write to Congress</strong>
                    <br>
                    Once we’ve found your reps, you can send them a message directly through your email.
                </p>
            </div>
            <div>
                <p>
                    <strong>Whoosh!</strong>
                    <br>
                    We deliver your message to your reps using technology that navigates their complicated webforms.
                </p>
            </div>
        </section>

        <hr>

        <section class="">
            <h2 class="">Why we made this</h2>
            <p>It’s not easy to get in touch with members of Congress. You have to navigate different, complicated web forms each time you want to send a message to your representatives.</p>
            <p>Now, with Email Congress you can use your own email to write to your reps. After you sign up, our technology does all the work, so all you have to do is send an email!</p>
            <p>Remember we aren’t Congress, we just help you communicate with your representatives.</p>
        </section>

    </main>

{% endblock %}