{% extends 'root.html' %}

{% block title %}
    {% if context.msg.is_already_sent() %}
        Your message is queued to be sent to your representatives in congress.
    {% else %}
        MESSAGE NOT SENT
        {# TODO copy here? #}

    {% endif %}
{% endblock %}

{% block content %}
    <section class="overview">
        {% if context.msg.is_already_sent() %}
            {% include 'images/icon_check.svg' %}
            <h2 class="overview__heading">Message sent!</h2>
            <p class="overview__description">
                Your email is now on its way to {% with legislators = context.legislators %}{% include 'snippets/leg_full_title_and_full_name_loop.html' %}{% endwith %}!
            </p>
        {% else %}
            NOT SENT
            {# TODO back button? #}
        {% endif %}
    </section>
    <section class="content">

    <div class="faq__div--main">
        <h3 class="content__header"><strong>What's next?</strong> You can use
            <a href="mailto:myreps@opencongress.org">myreps@opencongress.org</a> to write to all of your representatives
            at once. Or send individual emails:
        </h3>

        {% include 'partials/your_reps.html' %}

        <h3 class="content__header"><strong>Tips for emailing Congress next time</strong></h3>
        <hr>
        {% include 'partials/faq_tips.html' %}
    </div>

    </section>

{% endblock %}