{% extends 'root.html' %}

{% import 'snippets/tooltip.html' as tooltip %}

{% block title %}
    Verify your contact information to send your e-mail.
{% endblock %}

{% block content %}
    {% include 'partials/explainer.html' %}

    {% with data = context %}
        {% include 'forms/address_form.html' %}
    {% endwith %}
    <div style="clear:both"></div>

    {{ tooltip.tooltip_img('/static/images/question_mark_circle.png', 'street_address_tooltip', "We ask for your address and ZIP code because congressional offices require them to send a message.", "position:absolute;" ) }}
    {{ tooltip.tooltip_img('/static/images/question_mark_circle.png', 'phone_number_tooltip', "We ask for your phone number because congressional offices requires one to send a message.", "position:absolute;" ) }}

{% endblock %}

{% block footer %}
    
{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="/static/js/build/form.js"></script>
    <script type="text/javascript" src="/static/js/autocomplete_address.js"></script>

{% endblock %}