{% extends 'root.html' %}

{% block title %}
    Verify your contact information to send your e-mail.
{% endblock %}

{% block content %}

    <section class="section">
    {% if context.signup %}
        {% include 'images/icon_user.svg' %}
        <h2 class="section__heading">Almost done&mdash;check your email!</h2>
        <p class="section__description">
            An email has been sent to you with a verification link. You'll be ready to go as soon as you click on the verification link.
        </p>
    {% elif context.user %}
        {% include 'images/icon_user.svg' %}
        <h2 class="section__heading">Let's get your information updated.</h2>
        <p class="section__description">
            This helps us ensure that we're delivering your messages to the right representatives.
        </p>
    {% else %}
        {% include 'images/machine.svg' %}
        <h2 class="section__heading">Let's get your message to Congress.</h2>
        <p class="section__description">
            Contacting Congress should be as easy as email. We just need some info to make that happen.
        </p>
    {% endif %}
    </section>

    {% if not context.signup %}
        {% with data = context %}
            {% include 'forms/address_form.html' %}
        {% endwith %}
    {% endif %}

{% endblock %}

{% block footer %}
    
{% endblock %}