{% extends 'root.html' %}

{% import 'snippets/modal.html' as modal %}

{% block title %}
    Verify your contact information to send your e-mail.
{% endblock %}

{% block content %}
    {% include 'partials/explainer.html' %}

    {% with data = context %}
        {% include 'forms/address_form.html' %}
    {% endwith %}
    <div style="clear:both"></div>

    {{ modal.explainer_modal("street_address_explainer_modal",
        "Why do you need my address?",
        "We ask for your address and ZIP code because congressional offices require them to send a message.")
    }}
    {{ modal.explainer_modal("phone_number_explainer_modal",
        "Why do you need my phone number?",
        "We ask for your phone number because congressional offices require them to send a message.")
    }}

{% endblock %}

{% block footer %}
    
{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="/static/js/build/form.js"></script>
    <script type="text/javascript" src="/static/js/autocomplete_address.js"></script>

{% endblock %}