h1 {
    font-size: 72px;
}

.center-text
{
  text-align:center;
}

#content {
    margin-left:auto;
    margin-right:auto;
    width:800px;
}


form#verification-form {
    width: 600px;
}

div#legislator-lookup {
    width:200px;
    float:left;
}

.clearfix {
    clear:both;
}

a.faq-italic {
    font-style: italic;
    font-weight:lighter;
}

legend {
    font-weight: bold;
}

div.legislator_card {
    float:left;
    border: 1px black solid;
    border-radius:10px;
    width:225px;
}

div.legislator_card_left {
    margin-right: 25px;
}

div.legislator_card_middle {
    margin-right: 25px;
    margin-left: 25px;
}

div.legislator_card_right {
    margin-left: 25px;

}

div.legislator_card img {
    border-radius: 10px;
}

div#uncontactable_reps {
    margin-top:25px;
}

div#edit-message-wrapper {
    margin-top: 25px;
}


form#recaptcha_form {
    text-align:center
}

div.g-recaptcha {
    display: inline-block;
}
