# API KEYS
SUNLIGHT_API_KEY = ''
PHANTOM_DEBUG_KEY = ''
TEXAS_AM_API_KEY = ''
TEXAS_API_VERSION = '4.01'

# gmail
EMAIL_SERVER = 'pop.gmail.com'
EMAIL_USERNAME = ''
EMAIL_PASSWORD = ''

#postmark
POSTMARK_API_KEY = ""

PHANTOM_API_BASE = ""

CONGRESS_API_BASE = "http://congress.api.sunlightfoundation.com"

SELECT_SOLVER_BASE = ''

ADMIN_EMAILS = []

APP_SECRET_KEY = ""

DATABASE_URI = 'sqlite:////tmp/test.db'

APP_DEBUG = True

NO_REPLY_EMAIL = ''

BASE_URL = 'http://localhost:5000'

ADDRESS_DAYS_VALID = 180

USER_MESSAGE_LIMIT_HOURS = 1
USER_MESSAGE_LIMIT_CAPTCHA_COUNT = 5
USER_MESSAGE_LIMIT_BLOCK_COUNT = 25

GLOBAL_HOURLY_CAPTCHA_THRESHOLD = 1000