APP_DEBUG = True
SUBMIT_MESSAGES = True

ADMIN_EMAILS = []

APP_SECRET_KEY = "not-very-secret"

BASE_PROTOCOL = 'http://'
BASE_URL = 'localhost:5000'
BASE_PREFIX = ''

# API KEYS
SUNLIGHT_API_KEY = ''
PHANTOM_DEBUG_KEY = ''
TEXAS_AM_API_KEY = ''
TEXAS_API_VERSION = '4.01'

# gmail if you want to use imap_courier instead of postmark
EMAIL_SERVER = ''
EMAIL_USERNAME = ''
EMAIL_PASSWORD = ''


POSTMARK_API_KEY = ""
PHANTOM_API_BASE = ""
CONGRESS_API_BASE = "http://congress.api.sunlightfoundation.com"
SELECT_SOLVER_BASE = ''


DATABASE = {
    'prod': {
        'uri': 'postgresql://username:password@ip_location/database_name',
        'echo': False
    },
    'dev': {
        'uri': 'sqlite:////path/to/datebase.db',
        'echo': True
    },
    'test': {
        'uri': 'sqlite:////path/top/database.db',
        'echo': False
    }
}

# for fabric
DEPLOY_SERVER_HOSTS = ['']
DEPLOY_SERVER_USER = ''
DEPLOY_SERVER_APP_PATH = ''

VIRTUAL_ENV_PATH = '.venv'

EMAIL_DOMAIN = 'emailcongress.us'
NO_REPLY_EMAIL = 'noreply' + '@' + EMAIL_DOMAIN
SUPPORT_EMAIL = 'support' + '@' + EMAIL_DOMAIN

LEGISLATOR_DATA_CACHE = 'data/cached_legislators.json'
TOPIC_DATA_CACHE = 'data/cached_topics.json'

CELERY_BACKEND = 'redis://localhost:6379'
CELERY_BROKER = 'redis://localhost:6379'
CELERY_RETRY_DELAY = 3600 # seconds
CELERY_MAX_RETRIES = 3

CATCH_ALL_MYREPS = 'myreps' + '@' + EMAIL_DOMAIN

ADDRESS_DAYS_VALID = 180

USER_MESSAGE_LIMIT_HOURS = 1
USER_MESSAGE_LIMIT_CAPTCHA_COUNT = 5
USER_MESSAGE_LIMIT_BLOCK_COUNT = 25

GLOBAL_HOURLY_CAPTCHA_THRESHOLD = 1000

RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''

