{% extends 'root.html' %}

{% block title %}
    OpenCongress Email Service - FAQ
{% endblock %}

{% block content %}

    <h2>General questions</h2>

        <h4>What is this?</h4>
            <p>
                Members of Congress don’t have official emails. This service makes navigating their required webforms
                as easy as emailing them and allows you to contact them via email after filling out your information once.
            </p>

            <h4>Is there another way to contact Congress?</h4>
            <p>
                Yes! You can call, fax or mail a message and show up to their offices in person to discuss issues that
                are important to you. Look up their contact information
                <a href="http://www.usa.gov/Contact/US-Congress.shtml#Contact_Your_Representative_in_the_U.S._Congress">here</a>.
            </p>

        <h4>What are some tips on communicating with Congress?</h4>
            <p>
                Keep it short - Many congressional websites have a character or word limit and you can share more once
                a staffer responds to you.
            </p>
            <p>
                You can only email your representatives - Due to the way congressional websites are designed,
                we can only connect you to the members representing the address you provided us.
                Feel free to ask the members who represents you to forward your message to other members you’d like to contact.
                You can also mail a letter or call a member’s office by looking up that information here: [OpenCongress lookup tool]
            </p>
            <p>
                Stick to one issue - Keep your communication to a single topic and explain how the issue would affects you.
                This will help the office connect you with the relevant person.
            </p>
            <p>
                Include a bill name/number if possible - Look up bills on OpenCongress here [link]
            </p>
            <p>
                Be respectful and don’t threaten anyone - This is also true in other human communications.
            </p>
            <p>
                We’re not Congress - This service is operated by the Sunlight Foundation, a nonpartisan nonprofit
                dedicated to government transparency and accountability.
            </p>

        <h4>Why can I only select the three titles: Mr., Mrs. and Ms.?</h4>

            <p>
                Many congressional webforms require a title, but there is no standard list across offices.
                Some include honorifics from medical, military and other professional fields, but
                the three options we provide are the minimum selection that spans all webforms.
            </p>

    <h2>Common errors</h2>

        <h4>Why isn't my message being sent?</h4>

            <p>
                Message failures can occur for many reasons, some outside of your or our control.
            </p>
            <p>
                Messages can fail when there are issues on the congressional webforms we're passing your
                message through or our system may need to be updated to reflect changes.
            </p>
            <p>
                Sometimes errors in the information from the message can cause issues, such as a lengthy message that
                exceeds the limit on webforms, which is set individually be each congressional office.
            </p>
            <p>
                If the address you entered does not fall in the congressional district you're trying to send
                your message to or is not recognized by the congressional web form it can result in an unsent message.
            </p>

    <h2>Supporting this work</h2>

        <h4>Who made this?</h4>

            <p>
                <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>, a nonpartisan nonprofit dedicated
                to government transparency and accountability, built this project to help connect citizens to
                their representatives in Congress. We're not affiliated with government and the open source code
                for this project is available on <a href="https://github.com/sunlightlabs/the-phantom-mask">GitHub</a>.
            </p>

        <h4>How can I get more involved?</h4>

            <p>
                Please join our <a href="http://sunlightfoundation.com/join/">email list</a> to keep up with our latest
                work and donate <a href="https://sunlightfoundation.com/engage/donate/">here</a>.
            </p>

{% endblock %}