{% extends 'root.html' %}

{% block title %}
    OpenCongress Email Service - FAQ
{% endblock %}

{% block content %}

    <div class="faq__div--header">
        <h2>FAQ & Help</h2>

        <p>
            Answers to common questions. If you can't find what you're looking for here, shoot us an <a href="mailto:opencongress@sunlightfoundation.com">email</a>.
        </p>
    </div>

    <div class="faq__div--main">
        <h3>Frequently Asked Questions</h3>

        <ul>
            <li><a href="#faq_what_is_this_service">What is this service?</a></li>
            <li><a href="#faq_is_there_another_way">Is there another way to contact Congress?</a></li>
            <li><a href="#faq_what_are_some_tips">What are some tips on communicating with Congress?</a></li>
            <li><a href="#faq_why_can_i_only_select">Why can I only select the three titles: Mr., Mrs. and Ms.?</a></li>
            <li><a href="#faq_why_is_message">Why isn't my message being sent?</a></li>
            <li><a href="#faq_who_made_this">Who made this?</a></li>
            <li><a href="#faq_get_involved">How can I get more involved?</a></li>
        </ul>

        <div class="faq__div--answer">
            <h4 id="faq_what_is_this_service">What is this service?</h4>
            <p>
                Members of Congress don’t have official emails. This service makes navigating their required webforms
                as easy as emailing them and allows you to contact them via email after filling out your information once.
            </p>
        </div>

        <div class="faq__div--answer">
            <h4 id="faq_is_there_another_way">Is there another way to contact Congress?</h4>
            <p>
                Yes! You can call, fax or mail a message and show up to their offices in person to discuss issues that
                are important to you. Look up their contact information
                <a href="http://www.usa.gov/Contact/US-Congress.shtml#Contact_Your_Representative_in_the_U.S._Congress">here</a>.
            </p>
        </div>

        <div class="faq__div--answer">
            <h4 id="faq_what_are_some_tips">What are some tips on communicating with Congress?</h4>
            {% include 'partials/faq_tips.html' %}
        </div>

        <div class="faq__div--answer">
            <h4 id="faq_why_can_i_only_select">Why can I only select the three titles: Mr., Mrs. and Ms.?</h4>
            <p>
                Many congressional webforms require a title, but there is no standard list across offices.
                Some include honorifics from medical, military and other professional fields, but
                the three options we provide are the minimum selection that spans all webforms.
            </p>
        </div>

        <div class="faq__div--answer">
            <h4 id="faq_why_is_message">Why isn't my message being sent?</h4>
            <p>
                Message failures can occur for many reasons, some outside of your or our control.
            </p>
            <p>
                Messages can fail when there are issues on the congressional webforms we're passing your
                message through or our system may need to be updated to reflect changes.
            </p>
            <p>
                Sometimes errors in the information from the message can cause issues, such as a lengthy message that
                exceeds the limit on webforms, which is set individually be each congressional office.
            </p>
            <p>
                If the address you entered does not fall in the congressional district you're trying to send
                your message to or is not recognized by the congressional web form it can result in an unsent message.
            </p>
        </div>

        <div class="faq__div--answer">
            <h4 id="faq_who_made_this">Who made this?</h4>
            <p>
                <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>, a nonpartisan nonprofit dedicated
                to government transparency and accountability, built this project to help connect citizens to
                their representatives in Congress. We're not affiliated with government and the open source code
                for this project is available on <a href="https://github.com/sunlightlabs/the-phantom-mask">GitHub</a>.
            </p>
        </div>

        <div class="faq__div--answer">
            <h4 id="faq_get_involved">How can I get more involved?</h4>
            <p>
                Please join our <a href="http://sunlightfoundation.com/join/">email list</a> to keep up with our latest
                work and donate <a href="https://sunlightfoundation.com/engage/donate/">here</a>.
            </p>
        </div>

    </div>

{% endblock %}