<!doctype html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    {% include 'importers/css.html' %}
    {% include 'importers/javascript.html' %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block javascript %}{% endblock %}
</body>