{% extends 'root.html' %}

{% block title %}
    Verify your contact information to send your e-mail.
{% endblock %}

{% block header %}
    <h1 class="center-text">
    {%  if context.message %}
    Finish your message to {% for l in context.message.get_legislators() %}{% if loop.last %}{% if loop.length > 1 %} and {% endif %}{% endif %}{{ l.title_and_last_name() }}{% if loop.length > 2 %},{% endif %}{% endfor %}.
    {% else %}
        No message found for given token!
    {% endif %}
    </h1>
{% endblock %}

{% block content %}
    {% if context.message %}
        {% include 'snippets/legislator_lookup.html' %}
        {% with data = context %}
            <div style="float:left">
                {% include 'forms/verification_form.html' %}
            </div>
        {% endwith %}
        <div style="clear:both"></div>
    {% else %}
        SORRY!
    {% endif %}
{% endblock %}

{% block footer %}
    <h1 class="center-text">Almost there!</h1>
{% endblock %}