{{ pagination.info }}
{{ pagination.links }}
<table class="pure-table">

    <thead>
        <tr>
            <th>ID</th>
            <th>E-Mail</th>
            <th>Role</th>
            <th>Joined</th>
            <th>Manage</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.get_role() }}</td>
                <td>{{ user.created_at.isoformat() }}</td>
                <td><a href="/admin/user/{{ user.id }}">Click</a></td>
            </tr>
        {% endfor %}

    </tbody>


</table>
{{ pagination.links }}