<p>
    <strong>Keep it short.</strong>
    Many congressional websites have a character or word limit and you can share more once a staffer responds to you.
</p>
<p>
    <strong>You can only email your representatives.</strong>
    Due to the way congressional websites are designed, we can only connect you to the members representing the address you provided us. Feel free to ask the members who represents you to forward your message to other members you’d like to contact. You can also mail a letter or call a member’s office by looking up that information here: [OpenCongress lookup tool]
</p>
<p>
    <strong>Stick to one issue.</strong>
    Keep your communication to a single topic and explain how the issue would affects you. This will help the office connect you with the relevant person.
</p>
<p>
    <strong>Include a bill name/number if possible.</strong>
    Look up bills on OpenCongress here [link].
</p>
<p>
    <strong>Be respectful and don’t threaten anyone.</strong>
    This is also true in other human communications.
</p>
<p>
    <strong>Remember, we’re not Congress.</strong>
    This service is operated by the Sunlight Foundation, a nonpartisan nonprofit dedicated to government transparency and accountability.
</p>