{% for leg in context.legislators %}
    <div class="{% if context.msg.is_already_sent() %}legislator_card_horizontal{% endif %} repcard">
        <div class="repcard__photo" style="background-image: url({{ leg.image_url() }});">
        </div>
        <div class="repcard__info">
            <span>{{ leg.full_title() }}</span>
            <span>{{ leg.full_name() }}</span>
            {% if context.msg.is_already_sent() %}
            <h5><a href="mailto:{{ leg.oc_email }}">{{ leg.oc_email }}</a></h5>
            {% endif %}
        </div>
        {% if context.msg %}
        <div class="repcard__action">
            <input type="checkbox" class="repcard__checkbox" name="legislator_{{ loop.index0 }}" value="True">
            <div class="repcard__checkbox--add">{% include '/images/icon_plus.svg' %}</div>
            <div class="repcard__checkbox--check">{% include '/images/icon_check.svg' %}</div>
        </div>
        {% endif %}
    </div>
{% endfor %}
<div class="clearfix"></div>