<!doctype html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="Put description here">
    <meta name="keywords" content="Put key words here">
    <meta name="author" content="put author here">

    <link rel="stylesheet" type="text/css" href="/static/css/style.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
    
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/dennyferra/TypeWatch/master/jquery.typewatch.js"></script>
    <script type="text/javascript" src="/static/js/inputmask/jquery.inputmask.bundle.min.js"></script>
    <!--<script type="text/javascript" src="/static/js/build/phantom-mask.min.js"></script>-->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var csrftoken = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
    </script>
</head>

<body>
    <header class="header">
        {% block header %}
            <img class="header__logo" src="/static/images/opencongress-logo.svg" alt="OpenCongress Logo">
        {% endblock %}
    </header>
    <main class="main">

        {% block content %}{% endblock %}
        
        <footer class="footer">
            {% block footer %}{% endblock %}
            <div class="footer__disclaimer">This service is offered by the <a class="link-alt" href="https://sunlightfoundation.com">Sunlight Foundation</a> and is not affiliated with Congress.</div>
            <nav class="footer__nav">
                <span class="footer__nav--link"><a href="/faq">FAQ</a></span>
                <span class="footer__nav--link"><a href="https://www.opencongress.org/terms#terms_of_service">Terms of Service</a></span>
                <span class="footer__nav--link"><a href="https://www.opencongress.org/terms#privacy_policy">Privacy Policy</a></span>
            </nav>
        </footer>
    </main>
    <!-- JavaScript -->
    {% block javascript %}{% endblock %}
</body>