<!doctype html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    {% include 'head/meta.html' %}
    {% include 'head/css.html' %}
    {% include 'head/javascript.html' %}
</head>
<body>
    <header>
        {% block header %}
            {% include 'snippets/header_logo.html' %}
        {% endblock %}
    </header>
    <div class="sub_header">
        <div class="sub_header-cell">Foo</div>
        <div class="sub_header-cell">Foo2</div>
        <div class="sub_header-cell">Foo3</div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    <!-- JavaScript -->
    {% block javascript %}{% endblock %}
</body>