<!doctype html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="Put description here">
    <meta name="keywords" content="Put key words here">
    <meta name="author" content="put author here">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ context.url_for_static('/static/css/style.min.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
    
    <!-- CDN javascript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/dennyferra/TypeWatch/master/jquery.typewatch.js"></script>

    <script type="text/javascript">
        var URL_PREFIX = "{{ context.url_for_static('') }}";
        var csrftoken = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
    </script>
</head>

<body>
    {% block header %}
    <header class="header">
        <img class="header__logo" src="{{ context.url_for_static('/static/images/emailcongress-logo.svg') }}" alt="EmailCongress Logo">
    </header>
    {% endblock %}
    
    {% block main %}
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <nav class="footer__nav">
            <span class="footer__nav--link"><a target="_blank" href="{{ context.url_for_static('/faq') }}">FAQ</a></span>
            <span class="footer__nav--link"><a target="_blank" href="http://sunlightfoundation.com/legal/terms/">Terms of Service</a></span>
            <span class="footer__nav--link"><a target="_blank" href="http://sunlightfoundation.com/legal/privacy/">Privacy Policy</a></span>
        </nav>

        <div class="footer__disclaimer">This service is offered by the <a class="link-alt" href="https://sunlightfoundation.com">Sunlight Foundation</a> and is not affiliated with Congress.</div>
    </footer>
    {% endblock %}
    <!-- JavaScript -->
    <script type="text/javascript" src="{{ context.url_for_static('/static/js/build/phantom-mask.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
