<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Complete your message to Congress</title>
</head>

<body>

You're almost done. We need a little more information before we can send your message to {% for l in context.legs %}{% if loop.last %}{% if loop.length > 1 %}and {% endif %}{% endif %}{{ l.title_and_last_name() }}{% if loop.length > 2 %},{% endif %}{% endfor %}.
<br>
Please click the following link and fill out the form. <a href="{{ context.verification_link }}">{{ context.verification_link }}</a>
<br>
Thank you,
<br>
The OpenCongress Team

</body>
</html>