//  Utility Classes

%alpha { font-size: $alpha; }
%beta { font-size: $beta; }
%gamma { font-size: $gamma; }
%micro { font-size: $micro; }

%red { color: $red; }

%is-hidden { display: none; }


// Layout

html {
    height: 100%;
}

body {
    background: $background;
    color: $gray-dark;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: $gamma;
    min-height: 100%;
}

.header {
    background: $white;
    padding: 10px 0;
    transition: padding 150ms;

    @include breakpoint($screen-sm){
        padding: 15px 0;
    }
    
    &__logo {
        display: block;
        margin: auto;
        transition: width 150ms;
        width: 160px;

        @include breakpoint($screen-sm){
            width: 200px;
        }
    }
}

.main {
    @extend .container;
    max-width: 600px;
    padding: 0;
}

.footer {
    text-align: center;
    margin-top: 75px;
    padding: 0 50px;

    &__disclaimer {
        border-bottom: 1px solid $gray-light;
        color: $gray;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    &__nav {
        margin: 10px 0 75px;

        &--link { 
            display: inline-block;
            padding: 5px;
            width: 100%;

            @include breakpoint($screen-sm){
                
                display: inline-block;
                margin: 0 25px;
                padding: 0;
                width: inherit;

                &:first-child {
                    margin-left: 0;
                }
                
                &:last-child {
                    margin-right: 0;
                }            
            }

        }
    }
}

p {
    margin: 0 0 1em;
}

a {
    &:link,
    &:visited  {
        border-bottom: 0px solid transparent;
        color: $blue;
        text-decoration: none;
        transition: all 200ms;
    }

    &:hover,
    &:active,
    &:focus, {
        border-bottom: 1px solid darken($blue, 20%);
        color: darken($blue, 20%);
    }

    &.link-alt {
        color: darken($gray, 15%);
        border-bottom: none;
    }
}

.button {
    @include button-variant($white, $green, $green);
    border: 0;
    border-radius: 3px;
    display: block;
    font-size: $beta;
    font-weight: normal;
    margin: 16px auto;
    padding: 14px;
    transition: background 200ms, width 200ms;
    width: 100%;

    @include breakpoint($screen-sm){
        width: 75%;
    }

    &:hover {
        background: darken($green, 5%);
    }

    &:active {
        background: $green;
        transition: background 0ms;
    }

    &:focus {
        outline: none;
    }
}

.overview {
    padding: 50px 75px;
    text-align: center;

    &__heading {
        @extend %alpha;
        font-weight: bold;
        margin: 0;
        margin-top: 10px;

    }

    &__description {
        @extend %alpha;
        margin: 0;
        margin-top: 20px;
    }

    .icon {
        width: 36px;
        height: 36px;

        path {
            fill: $green;
        }
    }
}

.faq__div--header {

    padding: 50px;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: $alpha;
    }
}

.faq__div--main {
    position:relative;
    background-color: $white;
    width: 100%;
    padding: 50px;

    &:before {
        @include triangle(16px, $background);
        content: '';
        position: absolute;
        top: 0;
        left: 48%;
    }
}

.faq__div--answer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.clearfix {
  clear: both;
}

.legislator_card {
  float:left;
  width:155px;
  text-align:center;
  padding:0;
  margin-left:5px;
  margin-right:5px;
  border: 1px solid $gray-light;

  &_horizontal {
    width: 100%;
    .legislator_card_img {
      float:left;
      padding: 10px;
      margin-top: 0;
      img {
        border-radius:100px;
        width: 50px;
      }
    }

    .legislator_card_info {
      margin-top: 15px;
      float: left;
      text-align:left;
      h5 {
        font-size: $micro;
      }
    }

    .legislator_card_checkbox {
      float: right;
      margin-right: 10%;
      margin-top: 25px;
    }
  }

  @media (max-width: $screen-md) {
    width: 100%;
  }

  &_img {
    margin-top: 25px;
    img {
      width:100px;
      border-radius:100px;
    }
    @media (max-width: $screen-md) {
      margin-top: 0;
      float: left;
      padding: 10px;
      img {
        width: 50px;
      }
    }
  }

  &_info {
    margin-top: 15px;
    @media (max-width: $screen-md) {
      float: left;
      text-align:left;
      h5 {
        font-size: $micro;
      }
    }
  }

  &_checkbox {
    @media (max-width: $screen-md) {
      float: right;
      margin-right: 10%;
      margin-top: 25px;
    }
  }

  h4, h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

}