//  Utility Classes

.is-hidden { display: none; }


// Layout

html {
    height: 100%;
}

body {
    background: $background;
    color: $gray-dark;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: $gamma;
    min-height: 100%;
}

.main {
    @extend .container;
    max-width: 600px;
    padding: 0;
}

.footer {
    @extend .container;
    margin-top: 50px;

    &__disclaimer {
        color: $gray;
        margin-bottom: 10px;
        text-align: center;
        padding: 25px;
    }

    &__nav {
        border-bottom: 1px solid #ddd;
        padding: 25px;
    }
    
    &__nav-item {
        display: table;
        width: 250px;
        margin: auto;

        .icon {
            display: inline-block;
            margin: auto;
            display: table-cell;
            vertical-align: middle;
            margin: 20px;
            width: 36px;
            height: 36px;
            path {
                fill: #777;
            }
        }
         .link {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
        }
    }
}


.emailcongress-logo {
    display: block;
    width: 325px;
    margin: auto;

    g { fill: #fff; }
}


.section {
    padding: 50px 25px;
    text-align: center;
    
    @include breakpoint($screen-md){
        padding: 50px 75px;
    }

    &--light {
        @extend .section;
        background: #fff;
    }

    &--dark {
        @extend .section;
        background: #333;
    }

    &__heading {
        @extend %alpha;
        font-weight: bold;
        margin: 0;
        margin-top: 10px;
    }

    &__heading--large {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    &__description {
        @extend %alpha;
        margin: 0;
        margin-top: 20px;

        .email-form-wrapper & {
            margin-bottom: 25px;
        }
    }

    .icon {
        width: 36px;
        height: 36px;

        path {
            fill: $green;
        }
    }
}


.content_wrapper {
    margin: auto;
    max-width: 50em;
}

.content {
    background: $white;
    margin: 0 auto;
    width: 100%;
    padding: 75px 25px;
    position: relative;
    transition: padding 200ms;
    
    @include breakpoint($screen-sm){
        padding: 75px 50px;
    }

    &:before {
        @include triangle(16px, $background);
        content: ''; 
        position: absolute;
        top: 0;
        left: 48%;
        left: calc(50% - 16px);
    }

    &__header {
        @extend %beta;
        margin: 0;
        margin-bottom: 25px;
        line-height: 1.25em;
    }

    &__notes {
        border-top: 1px dashed $gray-light;
        margin-top: 75px;
        padding-top: 50px;
    }
}

.steps-group {
    margin-bottom: 50px;

    .illustration {
        width: 50px;

        @include breakpoint($screen-sm){
            width: 75px;
        }
    }
}
