.faq {
    &__list {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 5px;
        }
    }

    &__group {
        margin-top: 60px;
    }

    &__header {
        @extend %beta;
        font-weight: 700;
        margin: 0;
        margin-bottom: 15px;
    }

}