// Form Components

.form {
    
    &--readonly {
        font-size: $gamma;
    }

    &__group {
        @include make-row(0);
        position: relative;
        min-height: 38px;

        @include breakpoint(768px){
            margin-bottom: 24px;
        }

        &:last-of-type {
            margin-bottom: 10px;
        }

        [class*="col-"] {
            padding-left: 0px;
            padding-right: 0px;
            transition: width 1000ms;

            &:not(:first-child) {
                @include breakpoint(768px){
                    padding-left: 4px;
                }
            }

            &.is-concealed {
                @include breakpoint(768px){

                    position: absolute;
                    width: 0;
                    opacity: 0;

                    .form__input, .form__select {
                        position: absolute;
                    }
                }
            }

            &.is-fullwidth {
                @include breakpoint(768px){
                    width: 100%;
                    position: absolute;

                    .form__input, .form__select {
                        position: absolute;
                    }
                }
            }

            &.zip-wrap {
                @include breakpoint(768px){
                    position: absolute;
                    right: 0;
                }
            }
        }

        &.has-error {
            margin-bottom: 45px;
        }
    }

    &__disclaimer {
        display: inline-block;
        margin: 25px 0;
        text-align: center;
        width: 100%;
    }

    &__error {
        color: $red;
        font-size: $micro;
        position: relative;
        line-height: 16px;

        &--zip {
            @extend .form__error;
            margin: -15px 10px -15px;

            @include breakpoint(768px){
                position: absolute;
                top: 40px;
                margin: 0 10px 40px;
            }
        }
        &--clickable {
            @extend .form__error;
            cursor: pointer;
        }
    }

    &__tip {
        &::before {
            content: " ";
            background: url("/static/images/icon_question--red.svg") no-repeat;
            background-size: cover;
            height: 16px;
            width: 16px;
            position: absolute;
            left: -25px;
            top: 0;
        }
    }

    // Form Input Components

    &__input {
        background-color: lighten($gray-lighter, 3%);
        border: none;
        box-shadow: 0px 1px 0px $gray-light;
        color: $gray-dark;
        font-size: $beta;
        margin-bottom: 24px;
        outline: 0;
        padding: 8px;
        position: relative;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        
        @include breakpoint(768px){
            margin-bottom: 0;
        }

        &--masked {
            @extend .form__input;
            letter-spacing: 1px;
        }

        &:focus {
            box-shadow: 0px 1px 0px $gray-dark;
        }

        &[readonly] {
            box-shadow: none;
        }

        &.is-invalid {
            box-shadow: 0px 1px 0px $red;
            background: lighten($red, 45%);
        }

        &:focus + .form__label {
            padding: 12px;
            z-index: 2;
            top: -30px;
            color: $gray-dark;
        }
    }

    &__textarea {
        @extend .form__input;
        height: 175px;
        
        &[readonly] {
            box-shadow: none;
        }
    }

    &__label {
        color: transparent;
        font-size: 12px;
        font-weight: normal;
        padding: 12px;
        position: absolute;
        text-transform: uppercase;
        transition: all 200ms;
        width: 100%;
        z-index: -1;
        bottom: 0;
        top: -15px;
        left: 0;
    }

    &__select {
        // overrides browser defaults
        outline: none;
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        // custom appearance
        background: lighten($gray-lighter, 3%) url("/static/images/arrow_drop_down.svg") no-repeat 90% 70%;
        box-shadow: 0px 1px 0px $gray-light;
        color: $gray-dark;
        font-size: $beta;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 8px;
        width: 100%;

        &:focus {
            box-shadow: 0px 1px 0px $gray-dark;
        }

        @include breakpoint($screen-sm){
            background: lighten($gray-lighter, 3%) url("/static/images/arrow_drop_down.svg") no-repeat 98% 70%;
        }

        @include breakpoint(768px){
            margin-bottom: 0;
        }

        &.is-gray {
            color: $gray;
        }

        &.is-invalid {
            box-shadow: 0px 1px 0px $red;
            background-color: lighten($red, 45%);
        }
    }

    &__errorlist {
        border: 1px solid $red;
        background: lighten($red, 35%);
        padding: 15px;
        list-style: none;
        margin-bottom: 25px;
    }
}


// Placeholder text

::-webkit-input-placeholder {
    color: $gray;
    letter-spacing: 0px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
    letter-spacing: 0px;
}
:-ms-input-placeholder {
    color: $gray;
    letter-spacing: 0px;
}
:-moz-placeholder { /* Firefox 18- */
    color: $gray;
    letter-spacing: 0px;
}