form {
  background: $white;
  margin: 0 auto;
  width: 100%;
  padding: 88px 48px 16px 48px;
  position: relative;  
  
  @include breakpoint(768px){
    width: 40%;
  }
  
  .form_fields {
    padding-bottom: 56px;
    border-bottom: 1px dashed $gray; 
  }

  .form_group {
    @include make-row(0);
    [class*="col-"] {
      padding-left: 4px;
      padding-right: 4px;
    }
    @include breakpoint(994px){
      margin-bottom: 16px;
    }
    > div {
      position: relative;
    }

    input, textarea {
    padding: 12px 12px 12px 12px; 
  }
  // TEST
    label {
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      font-weight: 500;
    }
    input:focus + label, textarea:focus + label {
      top: -55%;
      // margin-top: -16px;
    }
  // END TEST
  }


  &:before {
    @include triangle(16px, $background);
    content: ''; 
    position: absolute;
    top: 0;
    left: 48%;
  }

  input, textarea {
    border: none;
    padding: 12px 6px;
    width: 100%;
    margin-bottom: 16px;
    outline:none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    outline: 0;
    border: none;
    color: $gray;
    background-color: $gray-light;
    box-shadow: 0px 1px 0px $gray;
    
    &:focus + label {
      background: transparent;
      font-size: 95%;
      padding: 12px;
      z-index: 2;
    }
  }

  label {
    transition: // not padding
      background 0.5s,
      color 0.5s,
      top 0.5s,
      bottom 0.5s,
      right 0.5s,
      left 0.5s;
    position: absolute;
    color: #999;
    padding: 12px;
  }


  .select-style {
      margin-bottom: 16px;
      width: 100%;
      padding: 12px 4px;
      border-radius: 0;
      overflow: hidden;
      background:  $gray-light url("/static/images/arrow_drop_down.svg") no-repeat 90% 50%;
      box-shadow: 0px 1px 0px $gray;
      color: $gray;
      float: left;
  }

  select {
    // padding: 5px 8px;
    outline:none;
    width: 108%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    @include breakpoint(994px){
      width: 135%;
    }
    &:focus {
      color: rgba(0,0,0,0);
      text-shadow: 0 0 0 $gray;
    }
  }

  button {
    @include button-variant($white, $green, $green);
    display: block;
    margin: 16px auto;
    width: 100%;
    @include breakpoint(994px){
      width: 70%;
    }
  }

  .form_disclaimer {
    text-align: center;
    margin-bottom: 16px;
  } 
}
