// Form Components

.form {
    background: $white;
    margin: 0 auto;
    width: 100%;
    padding: 75px 25px;
    position: relative;
    transition: padding 200ms;
    
    @include breakpoint($screen-sm){
        padding: 75px 50px;
    }
  
    &:before {
        @include triangle(16px, $background);
        content: ''; 
        position: absolute;
        top: 0;
        left: 48%;
    }

    &__group {
        @include make-row(0);
        [class*="col-"] {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    &__disclaimer {
        display: inline-block;
        margin: 25px 0;
        text-align: center;
        width: 100%;
    }

    &__notes {
        border-top: 1px dashed $gray-light;
        margin-top: 75px;
        padding-top: 50px;
    }

    &__error {
        @extend %red;
        @extend %micro;
        margin: 10px;
        position: relative;
        top: -12px;
    }

    // Form Input Components

    &__input {
        background-color: lighten($gray-lighter, 3%);
        border: none;
        box-shadow: 0px 1px 0px $gray-light;
        color: $gray-dark;
        font-size: $beta;
        margin-bottom: 24px;
        outline: 0;
        padding: 8px;
        position: relative;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        
        &:focus {
            box-shadow: 0px 1px 0px $gray-dark;
        }

        // &:invalid {
        //     box-shadow: 0px 1px 0px $red;
        // }

        &:focus + .form__label {
            padding: 12px;
            z-index: 2;
            top: -30px;
            color: $gray-dark;
        }
    }
    
    .form__input--masked {
        @extend .form__input;
        letter-spacing: 1px;
    }

    &__label {
        color: transparent;
        font-size: 12px;
        font-weight: normal;
        padding: 12px;
        position: absolute;
        text-transform: uppercase;
        transition: all 200ms;
        width: 100%;
        z-index: -1;
        bottom: 0;
        top: -15px;
        left: 0;
    }

    &__select {
        // overrides browser defaults
        outline: none;
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        background: lighten($gray-lighter, 3%) url("/static/images/arrow_drop_down.svg") no-repeat 90% 70%;
        box-shadow: 0px 1px 0px $gray-light;
        color: $gray-dark;
        font-size: $beta;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 8px;
        width: 100%;

        &:focus {
            box-shadow: 0px 1px 0px $gray-dark;
        }

        @include breakpoint($screen-sm){
            background: lighten($gray-lighter, 3%) url("/static/images/arrow_drop_down.svg") no-repeat 98% 70%;
        }

    }

}


.message_form {

  button {
    width: 100%;
  }

  .col-sm-12, .col-sm-9, .col-xs-12, .col-sm-3 {
    padding: 0;
  }

  .col-sm-3 {

    padding-right: 15px;

    @media (max-width: $screen-md) {
        padding-right: 0;
    }

  }

  .red-button {
    color: $red;
    border: 2px $red solid;
    background-color: $white;
  }

  input[type='text'],
    textarea {
        font-size: $beta;
        padding: 8px;
        width: 100%;
        margin-bottom: 16px;
        outline:none;
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        outline: 0;
        border: none;
        color: $gray-dark;
        background-color: $gray-lighter;
        box-shadow: 0px 1px 0px $gray;
        resize: none;

        &:focus + label {
            background: transparent;
            font-size: 95%;
            padding: 12px;
            z-index: 2;
        }
    }
}


// Placeholder text

::-webkit-input-placeholder {
    color: $gray;
    letter-spacing: 0px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
    letter-spacing: 0px;
}
:-ms-input-placeholder {
    color: $gray;
    letter-spacing: 0px;
}
:-moz-placeholder { /* Firefox 18- */
    color: $gray;
    letter-spacing: 0px;
}