
.header--hero {
    background: $green url('/static/images/flag-background.jpg');
    background-size: cover;
    // padding: 150px 0;
    height: 500px;
    position: relative;
    overflow: hidden;

    h2 {
        text-align: center;
        color: #fff;
        margin: 25px 0 75px;
    }
}

.hero--content {
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 1;
}

.intro-video {
    object-fit: cover;
    width: 100%;
    background: url('/static/images/flag-background.jpg');
}
