//  Utility Classes

%alpha { font-size: $alpha; }
%beta { font-size: $beta; }
%gamma { font-size: $gamma; }
%micro { font-size: $micro; }

.semibold { font-weight: 600; }

.u-text-light { color: #fff;}

// Typography

p {
    margin: 0 0 1em;
}

a {
    &:link,
    &:visited  {
        border-bottom: 0px solid transparent;
        color: $green;
        text-decoration: none;
        transition: all 200ms;
    }

    &:hover,
    &:active,
    &:focus, {
        border-bottom: 1px solid darken($blue, 20%);
        color: darken($blue, 20%);
        outline: none;
    }

    &.link-alt {
        color: darken($gray, 15%);
        border-bottom: none;
    }
}


.prose {
    text-align: left;
    font-size: 18px;

    @include breakpoint($screen-md){
        padding-left: 50px;
        padding-right: 50px;
    }

    p {
        margin-top: 0;

        @include breakpoint(768px){
            margin-top: 10px;
        }
    }

    .steps-group & {
        padding-left: 0;
        padding-right: 0;



        @include breakpoint($screen-md){
            padding-right: 50px;
        }
    }
}
